::-webkit-scrollbar {
  display: none;
}

:root {
  width: 100vw;
  height: 100vh;
  background-color: rgb(219, 157, 216);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(157, 186, 219);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.koczka_element {
  display: flex;
  height: 30vh;
  width: 50vw;
  border: 2px solid black;
}

#koczkas {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pic_holder {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}