::-webkit-scrollbar {
  display: none;
}

:root {
  width: 100vw;
  height: 100vh;
  background-color: rgb(219, 157, 216);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(157, 186, 219);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#koczkas {
  display: flex;
  flex-direction: column;
}

.koczka_element {
  display: flex;
  margin-top: 40px;
  height: 40vh;
  width: 30vw;
  border: 2px solid black;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  padding: 1vh;

  h2 {
    align-self: center;
  }
}

.koczka_element:nth-child(1n) {
  background-color: rgb(219, 157, 186);
  align-self: flex-start;
  margin-left: 10vw;
}

.koczka_element:nth-child(2n) {
  background-color: rgb(219, 157, 186);
  align-self: flex-end;
  margin-right: 10vw;
}


#pic_holder {
  img {
    height: 40vh;
    width: 30vw;
    object-fit: cover;
    border-radius: 10px;
  }
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(157, 186, 219);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}